* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}



/* --------------------------------  Nav bar CSS ---------------------------------------*/
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: none;
  background-color: #10100f;

  padding: 30px 10%;
  height: 100px;

}


.navBarButtonDiv {
  padding: 10px;
}



.navLinks li a {
  font-weight: 400;
  font-size: 16px;
  color: #f5f6f8;
  text-decoration: none;

}

.navLogo  {
  cursor: pointer;
}

.navLinks {
  list-style: none;
}

.navLinks li  {
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a {
  transition: all 0.3 ease 0s;
}

.navLinks li a:hover {
  color: #1985a1;

}
/* --------------------------------------------- hero section  ----------------------------------------------- */


.hero-div{
  display: grid;
  border-style: solid;
  padding: 2%;
  height: 90vh;
  background-color: #b1b1b2;
}

.big-intro{
  height: auto;
  padding: 3%;
  border-style: solid;
  font-size: 10vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.herotext-btn-div{
  border-style: solid;
  padding: 3%;
}

.herotext-btn-div h2 p{
  letter-spacing: 1px;
}



/* --------------------------------------------- skills section  ----------------------------------------------- */


.skills{
  border-style: solid;
  height: 100vh;

}

.skills-title{

}